a {
    text-decoration: none;
    color: #000;
}
.active {
    color: dodgerblue;
}
.zh-container {
    text-align: center;
}
.zh-main {
    width: 300px;
    margin: auto;
}
.zh-header h1 {
    font-size: 50px;
    color: dodgerblue;
}
.zh-header h2 {
    font-size: 18px;
}
.zh-tab {
    margin-top: 30px;
}
.zh-tab a {
    margin: 10px;
    font-size: 15px;
}
.zh-block {
    height: 3px;
    width: 45px;
    position: relative;
    left: 100px;;
    background-color: dodgerblue;
}
.zh-form-textinput {
    margin-top: 20px;
    border-style: solid;
    border-radius: 3px;
    border-width: 1px;
    border-color: darkgrey;
}
.zh-input-wrapper + .zh-input-wrapper {
    border-style: solid;
    border-width: 0px;
    border-top-width: 1px;
    border-color: darkgrey;
}
.zh-input-wrapper input {
    width: 90%;
    height: 35px;
    margin: 5px;
    border: none;
    outline: none;
    background: none;
}
.zh-button-big {
    width: 100%;
    height: 35px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: dodgerblue;
    color: white;
    border: none;
    border-radius: 3px;
    font-size: 16px;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
.top-banner {
    background: #00a0d8;
    height: 86px;
    text-align: center;
    margin-bottom: 20px;
}
* {
    padding: 0;
    margin: 0;
    font-family: PingFangSC-Medium;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    tap-highlight-color: hsla(0,0%,100%,0);
}
user agent stylesheet
div {
    display: block;
}
* {
    padding: 0;
    margin: 0;
    font-family: PingFangSC-Medium;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    tap-highlight-color: hsla(0,0%,100%,0);
}
* {
    padding: 0;
    margin: 0;
    font-family: PingFangSC-Medium;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    tap-highlight-color: hsla(0,0%,100%,0);
}
* {
    padding: 0;
    margin: 0;
    font-family: PingFangSC-Medium;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    tap-highlight-color: hsla(0,0%,100%,0);
}
html, body {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font: 12px 'Helvetica Neue', Helvetica, Arial, 'Microsoft Yahei', 'Hiragino Sans GB', 'Heiti SC', 'WenQuanYi Micro Hei', sans-serif;
    background: #ffffff;
    color: #222222;
    min-width: 990px;
    tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent;
}
* {
    padding: 0;
    margin: 0;
    font-family: PingFangSC-Medium;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    tap-highlight-color: hsla(0,0%,100%,0);
}
html, body {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font: 12px 'Helvetica Neue', Helvetica, Arial, 'Microsoft Yahei', 'Hiragino Sans GB', 'Heiti SC', 'WenQuanYi Micro Hei', sans-serif;
    background: #ffffff;
    color: #222222;
    min-width: 990px;
    tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent;
}
* {
    padding: 0;
    margin: 0;
    font-family: PingFangSC-Medium;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    tap-highlight-color: hsla(0,0%,100%,0);
}
img {
    border: none;
    vertical-align: middle;
    top: 40px;
    position: relative;
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: white !important;
    background-image: none !important;
    color: rgb(0, 0, 0) !important;
}
.input-xlarge{
    margin: 0;
}
.message{
    position: absolute;

}
.message p{
    color: red;
}
.register_t{
    color: green;
}