<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>biubiu | Login</title>
    <link rel="icon" href="/static/images/bitbug_favicon%20.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/login.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
    <script src="/static/js/login.js"></script>
</head>
<body>
<div class="top-banner">
    <img src="/images/top.png">
</div>
<div class="zh-container">
    <div class="zh-main">
        <div class="zh-header">
            <h1 class="zh-title">biubiu</h1>
            <p>
              测试账号：abc 密码：123
            </p>
        </div>
        <div class="zh-form">
            <div class="zh-tab">
                <a id="zh-signup" href="#">注册</a>
                <a id="zh-login" href="#">登录</a>
                <div class="zh-block"></div>
            </div>
            <form id="zh-form-signup" method="post" action="{{ url_for('.register') }}">
                <div class="zh-form-textinput">
                    <div class="zh-input-wrapper">
                        <input type="text" placeholder="用户名（不少于 3 位）" name="username"/>
                    </div>
                    <div class="zh-input-wrapper">
                        <input type="text" placeholder="密码（不少于 3 位）" name="password"/>
                    </div>
                </div>
                {% if m == 'register_f' %}
                    <div class="message">
                        <p>用户名已存在</p>
                    </div>
                {% elif m == 'register_t' %}
                    <div class="message">
                        <p id="register_t">注册成功</p>
                    </div>
                {% elif m == 'login_t' %}
                    <div class="message">
                        <p>登录失败,请检查账号或者密码是否正确</p>
                    </div>
                {% elif m == 'register_a' %}
                    <div class="message">
                        <p>请检查账号或者密码长度是否正确</p>
                    </div>
                {% endif %}

                <button class="zh-button-big" type="submit">注册</button>
            </form>
            <form id="zh-form-login" method="post" action="{{ url_for('.login') }}">
                <div class="zh-form-textinput">
                    <div class="zh-input-wrapper">
                        <input type="text" class="input-xlarge" id="input-name" name="username" placeholder="用户名">
                        <div class="input-message-name" style="display: none"><p>'用户名长度应大于2'</p></div>
                    </div>
                    <div class="zh-input-wrapper">
                        <input type="text" class="input-xlarge" name="password" placeholder="密码">
                        <div class="input-message-password" style="display: none"><p>'密码长度应大于6'</p></div>
                    </div>
                </div>
                <button class="zh-button-big" type="submit">登录</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>
