
    {% block head %}
    {% endblock %}
</head>
<body>
{% block navbar %}
{% endblock %}
<div class="navbar">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="{{ url_for('topic.index', id=user.id ) }}">
                <img src="/images/title.png">
            </a>
            {#            <form id="search_form" class="navbar-search" action="https://cnodejs.org/search">#}
            {#                <input type="text" id="q" name="q" class="search-query span3" value="搜一下" onfocus="this.style.color='#000';#}
            {#this.value='';" style="color: #b4b4b4;">#}
            {#            </form>#}
            <ul class="nav pull-right">
                <li><a href="{{ url_for('topic.index', id=user.id) }}">首页</a></li>
                <li><a href="{{ url_for('message.index') }}">消息</a></li>
                <li><a href="{{ url_for('user_index.edit', id=user.id) }}">设置</a></li>
                <li><a href="{{ url_for('index.quit') }}" rel="nofollow">退出</a></li>
            </ul>
            <a class="btn btn-navbar" id="responsive-sidebar-trigger">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
        </div>
    </div>
</div>
<div id="main">
    <div id="sidebar">
        <div class="panel" style="margin-bottom: 0">
            <div class="header">
                <span class="col_fade">个人信息</span>
            </div>
            <div class="inner">
                <div class="user_card">
                    <div>
                        <a class="user_avatar" href="{{ url_for('user_index.index', id=user.id) }}">
                            <img src="{{ user.img }}" title="{{ user.username }}">
                        </a>
                        <span class="user_name"><a class="auther-name"
                                                   href="{{ url_for('user_index.index', id=user.id) }}">{{ user.username }}</a></span>

                        <div class="space clearfix"></div>
                        <span class="signature">
    “

        {{ user.signature }}

    ”
</span>
                    </div>
                </div>
            </div>
        </div>
        {% block bid %}
        {% endblock %}
    </div>
    {% block content %}
    {% endblock %}
    <div class="back-up"
         style='position:fixed;bottom:20px;right: 20px'>
        <img src="/images/回到顶部.png" style="height: 30px;width: 30px">
    </div>
</div>
{% block script %}
{% endblock %}
<script>
    var e = function (sel) {
        return document.querySelector(sel)
    }
    var goTop = function () {
        window.addEventListener('scroll', function () {
            var h = document.documentElement.scrollTop
            var a = e('.back-up')
            a.addEventListener('click', function () {
                scrollTo(0, 0);
            })
            if (h > 30) {
                a.style.display = "block"
            } else {
                a.style.display = "none"
            }
        })
    }
    var __main = function () {
        goTop()
    }

    __main()
</script>
</body>
</html>